{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="company">
                {{exp.company}}
            </div>
            {% for role in exp.roles %}
            <div class="role">
                <div class="role-title">
                    {{role.title}} | {{role.time}}
                </div>
                {% for paragraph in role.details %}
                <div class="details">{{paragraph}}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <p class="technologies">Tech used: {{exp.technologies_used}}</p>
        </div>
       
    {% endfor %}
</section>
{% endif %}